<% provide(:title, "逗逼无可抵挡") %>
<div class="jumbotron welcome">
  <div class="container">
    <div class="row">
      <div class="col-xs-8  col-xs-offset-2 col-md-offset-1 col-sm-5 col-md-4 col-lg-5 welcometitle">
        <h1>神奇海螺</h1>
        <p class="hidden-xs  ">再无聊的问题，也有独特的乐趣。</p>
        <p class="hidden-xs ">再严肃的答案，也有逗逼的属性。</p>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-4 hidden-sm hidden-md hidden-lg"></div>
      <div class="col-xs-6 col-md-offset-1  col-sm-5 col-md-4 col-lg-3 hidden">
        <div class="row margincustom">
          <div class="col-sm-11 col-md-11 col-xs-2">
            <label class="pull-left">注册账号</label> <a class="pull-right singer singin" href="#signin">登录 <i class="glyphicon glyphicon-circle-arrow-right signingly"></i></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <form>
          <div class="row margincustom">

            <div class="form-group col-sm-11 col-md-11 col-xs-12">
              <label for="loginName" class="sr-only">用户名</label>
              <input type="text" class="form-control" id="loginName" placeholder="用户名">
            </div>
          </div>
          <div class="row margincustom">
            <div class="form-group col-sm-11 col-md-11 col-xs-12">
              <label for="phoneOrEmail" class="sr-only">联系方式</label>
              <input type="text" class="form-control" id="phoneOrEmail" placeholder="手机号或邮箱">
            </div>
          </div>
          <div class="row margincustom">
            <div class="form-group col-sm-11 col-md-11 col-xs-12">
              <label for="loginPassword" class="sr-only">密码</label>
              <input type="password" class="form-control" id="loginPassword" placeholder="密码">
            </div>
          </div>
          <div class="row margincustom">

            <div class="form-group col-sm-11 col-md-11 col-xs-8">
              <label for="" class="sr-only">提交按钮</label>
              <input type="submit" class="form-control regbutton" value="注册">
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-6 col-md-offset-1  col-sm-5 col-md-4 col-lg-3">
        <div class="row margincustom">
          <div class="col-sm-11 col-md-11 col-xs-12">
            <label class="pull-left ">登陆神奇海螺</label> <a class="pull-right singer singup" href="#signup">注册账户 <i class="glyphicon glyphicon-circle-arrow-right signingly"></i></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <form>
          <div class="row margincustom">
            <div class="form-group col-sm-11 col-md-11 col-xs-12">
              <label for="loginName" class="sr-only">用户名</label>
              <input type="text" class="form-control" id="loginName" placeholder="用户名">
            </div>
          </div>

          <div class="row margincustom">
            <div class="form-group col-sm-11 col-md-11 col-xs-12">
              <label for="loginPassword" class="sr-only">密码</label>
              <input type="password" class="form-control" id="loginPassword" placeholder="密码">
            </div>
          </div>
          <div class="row margincustom">
            <div class="form-group col-sm-11 col-md-11 col-xs-12">
              <label for="" class="sr-only">提交按钮</label>
              <input type="submit" class="form-control regbutton" value="登录">
            </div>
          </div>
          <div class="row margincustom">

            <div class="col-sm-11 col-md-11 col-xs-12">
              <label>
                <input type="checkbox" name="remember_me">&nbsp;&nbsp;记住我
              </label>
              <div class="pull-right"><a href="">无法登陆？</a></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>