<nav class="navbar  navbar-static-top navbar-default boxshadow-down navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">神奇海螺</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">活动</a></li>
      <li><a href="">活动</a></li>
      <li><a href="">活动</a></li>
      <li><a href="">活动</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% #if !current_user %>
          <li> <%#=link_to("登录", '/login') %> </li>
          <li> <%#=link_to("注册", '/sign') %> </li>
      <% #else %>
          <li><%#=link_to raw('<span class="glyphicon glyphicon-user"></span> '+current_user.username), current_user.username %></li>
          <!--<li> <a  href=""><span class="glyphicon glyphicon-envelope"><span class="msg_icon">199</span></span></a></li>-->
          <li><%#= link_to raw('<span class="glyphicon glyphicon-off"></span>'+"登出"), logout_path %></li>
      <% #end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form action="" class="navbar-form navbar-left">
          <div class="form-group">
            <lable class="sr-only"></lable>
            <input type="text" class="form-control"/>
            <button type="button" class="btn btn-default">搜索</button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>